<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title or metadata.title }} | Whoops</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,900" rel="stylesheet">
    {% set css %}{% include "css/style.css" %}{% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>

</head>

<body class="antialiased font-sans">
    {{ content | safe }}
</body>
</html>
