---
layout: layouts/template.njk
---

{{ content | safe }}

<div class="sub-footer">
  <div class="w-full h-2 bg-grey-light my-3 md:my-6"></div>
  <div class="foots">
    Copyright © <script>document.write(new Date().getUTCFullYear());</script> Appknox, Xysec Labs
  </div>
</div>
